<!DOCTYPE html>
<html>
	<head>
		<title>alex baygeldin</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=yes">

    {{ $styles := resources.Get "styles.scss" | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $styles.Permalink | relURL }}">

		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
	</head>
	<body>
		<div class="homepage-block">
			<img src="/home.jpg" />
			<span id="caption" class="nowrap">ｈｅｌｌｏ &nbsp; ｗｏｒｌｄ</span>
		</div>
	</body>
</html>
